<div class="container">
  <div class="mb-4">
    <div class="rte text-center">
      {{ page.content }}
    </div>
  </div>

  {% form 'contact' %}

    {% if form.posted_successfully? %}
      <p class="form-success">
        {{ 'contact.form.post_success' | t }}
      </p>
    {% endif %}

    {{ form.errors | default_errors }}        
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="ContactFormName">NAME</label>
          <input type="text"
            name="contact[First Name]"
            id="ContactFormFirstName"
            class="form-control"
            value="{% if form[First Name] %}{{ form[First Name] }}{% elsif customer %}{{ customer.first_name }}{% endif %}">
        </div>
        {% comment %} <div class="form-group">
          <label for="ContactFormName">{{ 'contact.form.last_name' | t }}</label>
          <input type="text"
            name="contact[Last Name]"
            id="ContactFormLastName"
            class="form-control"
            value="{% if form[Last Name] %}{{ form[Last Name] }}{% elsif customer %}{{ customer.last_name }}{% endif %}">
        </div> {% endcomment %}
        <div class="form-group">
          <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
          <input type="email"
            name="contact[email]"
            id="ContactFormEmail"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            spellcheck="false"
            class="form-control"
            autocomplete="off"
            autocapitalize="off">
        </div>
        <div class="form-group">
          <label for="ContactFormPhone">PHONE</label>
          <input type="tel"
            name="contact[phone]"
            id="ContactFormPhone"
            class="form-control"
            value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            pattern="[0-9\-]*">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ContactFormMessage">COMMENT</label>
          <textarea rows="10"
            name="contact[body]"
            id="ContactFormMessage"
            class="form-control">
            {%- if form.body -%}
              {{- form.body -}}
            {%- endif -%}
          </textarea>
        </div>
        <div class="my-4">
          <input type="submit" class="btn btn-primary" style="min-width: 20rem" value="SUBMIT">
        </div>
      </div>
    </div>
  {% endform %}

</div>
