<div class="block-press-item swiper-slide">
  <figure class="block-press-item__logo">
    <img src="{{ logo | img_url: 'original'}}" />
  </figure>

  <div 
    class="block-press-item__quote"
    style="letter-spacing: {{ letter_spacing }}em; font-size: {{ font_size }}px; line-height: {{ line_height }}em; color: {{ color }};"
  >{{ quote }}</div>
</div>
