{%- assign menulink = linklists[menu] -%}
{%- if collection_model != blank -%}
  {%- for item in menulink.links -%}
    {%- if item.url == collection_model.url -%}
      {%- assign menulink = item -%}
      {%- break -%}
    {%-endif-%}
  {%- endfor -%}
{%- endif -%}
<nav role="navigation" class="navbar__nav{% if is_mobile %} vue-app{%endif%}">
  <ul class="nav__menu">
    {%- for link in menulink.links -%}
      {%- if link.links != blank -%}
        <li class="has-submenu {{link.title | handle}}">
          <a href="{{ link.url }}" {% if is_mobile %}v-toggle{%endif%}>{{ link.title | escape }}{%-if is_mobile-%}{% include 'icon-chevron-down' %}{%-endif-%}</a>
          <div class="nav__submenu child">
            <ul>
            {%- include 'header__nav-image-item' -%}
            {%- for childlink in link.links -%}
              {%- if childlink.links != blank -%}
                <li class="{% if childlink.links.size > 5 %}wide{% endif %} has-submenu">
                  <a href="{{ childlink.url }}" {%if childlink.title == "-" %}class="hyphen"{%endif%} {% if is_mobile %}v-toggle{%endif%}>{{ childlink.title | escape }}{%-if is_mobile-%}{% include 'icon-chevron-down' %}{%-endif-%}</a>
                  <ul class="nav__submenu grandchild">
                    {%- for grandchildlink in childlink.links -%}
                      <li>
                        <a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </li>
              {%- else -%}
                <li>
                  <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                </li>
              {%- endif -%}
            {%- endfor -%}
            </ul>
          </div>
        </li>
      {%- else -%}
        <li>
          <a href="{{ link.url }}">{{ link.title | escape }}</a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
