<div class="form-reset-password container">
  <div class="account__max-width">
  {% form 'reset_customer_password' %}

    <h1 class="text-center">{{ 'customer.reset_password.title' | t }}</h1>

    <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

    {{ form.errors | default_errors }}
    <div class="form-control">
    <label for="ResetPassword" class="label-hidden">
      {{ 'customer.reset_password.password' | t }}
    </label>
    <input type="password"
      name="customer[password]"
      id="ResetPassword"
      class="form-control {% if form.errors contains 'password' %}input-error{% endif %}"
      >
    </div>
    <div class="form-control">
    <label for="PasswordConfirmation" class="label-hidden">
      {{ 'customer.reset_password.password_confirm' | t }}
    </label>
    <input type="password"
      name="customer[password_confirmation]"
      id="PasswordConfirmation"
      class="form-control {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
      >
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="{{ 'customer.reset_password.submit' | t }}">
  {% endform %}
  </div>
</div>
